{% extends "layout.html" %}
{% block body %}


<h2>Customer Home</h2>
{% for account in all_accounts %}
        Nickname : {{ account.cust_name }}
        <br>
        Account Name : {{ account.account_name }}
        <br>
        Account Balance : {{ account.balance }}
        <br>
        <br>
        <a href="{{ url_for('statements', id=account.id) }}">View Statements</a>
        <br>
        <br>
        <form action="{{ url_for('withdraw', account_id=account.id) }}">
            <input type=submit value="Add a Withdrawal">
        </form>
        <form action="{{ url_for('deposit', account_id=account.id) }}">
            <input type=submit value="Add a deposit">
        </form>
	    <form action="{{ url_for('delete', id=account.id) }}">
		    <input type=submit value="Delete Transaction">
	    </form>
            <a href="{{ url_for('update', id=account.id) }}">Update account Information</a>
        <br><br><br><br><br>
        

{% endfor %}
    
{% endblock body %}